
<div class="row">
  <div class="col-sm-12 text-center margin-top-8">

<h1>Upload File</h1>

  </div>
  </div>
<form [formGroup]="fileUploadForm" (ngSubmit)="upload()">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <h6 class="head-title margin-top-8"><span>UPLOAD</span></h6>
            </div>
        </div>

        <div class="col-sm-4 ">

            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="myfile"
                    (change)="selectFile($event)" #UploadFileInput>
                <label class="custom-file-label" for="customFile">{{fileInputLabel || 'Choose File'}}</label>
            </div>

        </div>
        <div class="col-sm-1 text-center">
            <button class="btn btn-primary" type="submit">Upload</button>
        </div>
    </div>
</form>


<div class="row">
  <div class="col-sm-6 text-center margin-top-8">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">File Name</th>
        <th scope="col">Status</th>
        <th scope="col">Created On</th>
        <th scope="col">Modified On</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of fileObj">
        <td>{{obj.name}}</td>
        <td>{{obj.status}}</td>
        <td>{{obj.createdOn}}</td>
        <td>{{obj.modifiedOn}}</td>
        <td><button type ="submit" (click)="onContinue($event,obj.id)">Open</button></td>
      </tr>
    </tbody>
  </table>
  
</div>
</div>
<br>
<br>
  <table class="table table-dark" *ngIf="excelFlag == true">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">age</th>
        <th scope="col">gender</th>
        <th scope="col">mobile</th>
        <th scope="col">email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rowObj">
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.age}}</td>
        <td>{{row.gender}}</td>
        <td>{{row.mobile}}</td>
        <td>{{row.email}}</td>
      </tr>
    </tbody>
  </table>